/* body公共样式，同时适用于pc和移动端 */
/* #region */
html,
body {
  height: 100%;
  scrollbar-color: rgba(white, 0.2) gray(30);
  scrollbar-width: thin;
  font-family: Arial, Helvetica, sans-serif;
  /* cursor: url(../public/images/mouse/arrow.cur), auto !important; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* #endregion */

/* body的滚动条样式设置 */
/* #region */
/* 针对 WebKit 浏览器（如 Chrome、Safari 等）自定义滚动条样式 */
/* 设置滚动条的轨道颜色 */
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* 设置滚动条的滑块颜色 */
body::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* 设置滚动条的宽度和高度 */
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 设置滚动条的角度 */
body::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* #endregion */

/* 顶部导航栏样式 */
/* #region */
.header {
  background-color: #333;
  color: #fff;
  padding: 0.625rem;
}

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.header nav li {
  margin: 0 10px;
}

.header nav a {
  color: #fff;
  text-decoration: none;
}


/* #endregion */

/* 主内容区域样式 */
/* #region */
#app {
  height: 100%;
}
#container {
  height: 100%;
}
.main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* #endregion */

/* 侧边栏样式 */
/* #region */
.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #333;
  text-decoration: none;
}
/* #endregion */

/* 文章列表样式 */
/* #region */
.articles {
  flex: 3;
  padding: 20px;
}

.articles section {
  margin-bottom: 30px;
}

.articles h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
/* #endregion */

/* 电梯导航样式 */
/* #region */
.elevator {
  position: fixed;
  right: 20px;
  bottom: 5%;
  transform: translateY(-50%);
  background-color: #fdf6f6;
  padding: 10px;
  border-radius: 5px;
}

.elevator ul {
  list-style: none;
  padding: 0;
}

.elevator li {
  margin-bottom: 5px;
}

.elevator a {
  color: #333;
  text-decoration: none;
}
/* #endregion */

/* 其他公共样式 */
/* #region */
input,
h1,
h3,
a,
span {
  color: gray(90);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* 鼠标悬停效果 */
.button:hover {
  background-color: #0056b3;
}
/* #endregion */

/* 移动适配 */
/* #region */
/* 移动端样式 */
@media screen and (max-width: 767px) {
  /* 在小屏幕上应用的样式 */
  /* 在小于 768px 的屏幕下，将主内容区域改为单列布局 */
  .main {
    flex-direction: column;
  }
  .articles {
    flex: 1;
  }
  .sidebar {
    flex: 1;
  }
}

/* 平板设备样式 */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* 在中等屏幕上应用的样式 */
}

/* 大屏幕手机样式 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* 在大屏幕手机上应用的样式 */
}

/* 大屏幕样式 */
@media screen and (min-width: 1200px) {
  /* 在大屏幕上应用的样式 */
}
/* #endregion */
